:root {
    --background: #1a1111ff;
    --error: #f2b8b5ff;
    --errorContainer: #8c1d18ff;
    --inverseOnSurface: #231919ff;
    --inversePrimary: #904a49ff;
    --inverseSurface: #fff8f7ff;
    --onBackground: #f0deddff;
    --onError: #601410ff;
    --onErrorContainer: #f9dedcff;
    --onPrimary: #571d1eff;
    --onPrimaryContainer: #ffdad8ff;
    --onSecondary: #442928ff;
    --onSecondaryContainer: #ffdad8ff;
    --onSurface: #f0deddff;
    --onSurfaceVariant: #d7c1c0ff;
    --onTertiary: #412d05ff;
    --onTertiaryContainer: #ffdeabff;
    --outline: #a08c8bff;
    --outlineVariant: #524342ff;
    --primary: #ffb3b1ff;
    --primaryContainer: #733333ff;
    --scrim: #000000ff;
    --secondary: #e6bdbbff;
    --secondaryContainer: #5d3f3eff;
    --surface: #1a1111ff;
    --surfaceBright: #423736ff;
    --surfaceContainer: #271d1dff;
    --surfaceContainerHigh: #322827ff;
    --surfaceContainerHighest: #3d3232ff;
    --surfaceContainerLow: #231919ff;
    --surfaceContainerLowest: #140c0cff;
    --surfaceDim: #1a1111ff;
    --surfaceTint: #ffb3b1ff;
    --surfaceVariant: #524342ff;
    --tertiary: #e3c28dff;
    --tertiaryContainer: #5a4319ff;
  }